@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fdfbf7;
    color: #2d251e;
    position: relative;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/bg-7.jpg");
    /* background-size: cover; */
    /* background-position: center; */
    background-attachment: fixed;
    opacity: 0.13;
    z-index: -1;
    pointer-events: none;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
